In [ ]:
1
22
333
4444

In [62]:
i=1
while i<=4:
    j=1
    while j<=i:  # 4 time
        print(i,end="\t")
        j=j+1
    i=i+1
    print()

1
2	2
3	3	3
4	4	4	4

In [52]:
import math
num=int(input("Enter the original number"))
if num==0:
    count=1
else:
    count = int(math.log10(num)+1)
print(count)

Enter the original number0
1

In [35]:
#Armstrong Number   50 to 1000  Armstrongs
num=int(input("Enter the original number"))   #27
count = len(str(num)) #2
    #print(count)
temp=num    #temp=27 num=27
sum=0
while(temp>0):  #2
    digit=temp%10  #2
    sum=sum+digit**count #  53
    temp=temp//10   # 0
if num == sum:
    print(num)

Enter the original number153
153

In [34]:
#Armstrong Number   50 to 1000  Armstrongs
#num=int(input("Enter the original number"))   #27
first_num=int(input())
last_num=int(input())
for num in range(first_num,last_num):
    count = len(str(num)) #2
    #print(count)
    temp=num    #temp=27 num=27
    sum=0
    while(temp>0):  #2
        digit=temp%10  #2
        sum=sum+digit**count #  53
        temp=temp//10   # 0
    if num == sum:
        print(num)

67
400
153
370
371

# LOOPS

Loops execute a specific block of code that contains many statements and this block is executing repetitively.
a)while loop
b)for loop

In loops, three things to be taken care and these are mentioned below:
a)Initialization
b)Condition
c)Increment/Decrement

# SYNTAX of while loop

initilaization

while(condition):
    statement1
    inc/dec
    statement2
    statement3
statement4

In [9]:
# Print first 5 natural numbers

i=5  #initialisation

while(i>=3):
    print(i,end="\n")
    
    i=i-1

print("Chitkara University")

5
4
3
Chitkara University

In [40]:
i=5
i=1-1
i=4

In [15]:
# Sum of first 10 natural numbers      #  1+3+5+7.....10  

#initialisation
sum=0
first_num=int(input())   #1
last_num=int(input())    #5

#condition
while(first_num <=last_num):    # 6 (first_num) <=  5  (last_num)
    sum=sum+first_num           #sum = 15    # 1  3  6  10 15
    first_num=first_num+2       #first_num = 6
print(sum)

1
5
9

In [26]:
sum=0
i=int(input())   # 1
j=int(input())   #10
while(i<=j):     #  5 <=10
      if i==8:  #right
        break
      sum=sum+i   #10
      i=i+1       #5
print(sum)

1
10
28

In [42]:
i=0
while(i<10):  #7 
    i=i+1     #8
    print(i)
    if i==7:
        continue
print("outside loop now")

1
2
3
4
5
6
7
8
9
10
outside loop now

In [ ]:
sum=0
first_num=int(input())

while(first_num!=0):
    first_num=first_num+1
print(sum)

In [36]:
i=int(input())
j=int(input())
while(i>=j):
    print(i,end=" ")
    i=i-1

2
3

In [13]:
i=5
while(i>=-5):
    print(i,end=" ")
    i=i-1
else:
    print("great")

5 4 3 2 1 0 -1 -2 -3 -4 -5 great

In [ ]:
#Range function

# FOR LOOP

Syntax:
for variable in sequence:              # Sequence can be list, tuple, string
                Body of for loop

In [54]:
num=range(10)  # range(start,stop,step)  # 1 3 5 7 9
# 1 2 3 4 5
for i in num:
    print(i,end="\t")

0	1	2	3	4	5	6	7	8	9

In [30]:
num_range=range(5,-6,-1)
for var_int in num_range:
    print(var_int,end=" ")

5 4 3 2 1 0 -1 -2 -3 -4 -5

In [53]:
first_num=int(input())   #1
last_num=int(input())    #10
num=range(first_num,last_num+1)
sum=0
for i in num:  #i=
    sum=sum+i  #sum=15
print(sum)

1
10
55

In [31]:
num_list = [4,6,8,10,12,14,16]  # List
for var in num_list:
    print(var,end=" ")

4 6 8 10 12 14 16

In [20]:
num = [4,6,8,10,12,14,16]  # List
for i in range(len(num)):
    print(i,num[i])

0 4
1 6
2 8
3 10
4 12
5 14
6 16

In [22]:
num = [4,6,8,10,12,14,16]  # List
for i,value in enumerate(num):
    print(i,value)

0 4
1 6
2 8
3 10
4 12
5 14
6 16