In [21]:
i=1
k=10
while (i<=4):
    j=1
    while(j<=i):
        print(k,end=" ")
        k=k-1
        j=j-1
    print()
    i=i+1

10
9 8
7 6 5
4 3 2 1

In [12]:
for i in range(1,4):   # Outer loop
    for j in range(1,i+1):  #inner loop
        print(i,end=" ")
    print()

1
2 2
3 3 3

In [14]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [7]:
i=1
while i<6:
    print(i)
    i=i+1

1
2
3
4
5

In [3]:
rows=int(input())
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [5]:
row=int(input())
i=1
while i<rows+1:
    j=1
    while j<i+1:
        print(i,end="  ")
        j=j+1
    print()	
    i=i+1

5
1
2  2
3  3  3
4  4  4  4
5  5  5  5  5

1
1 2
1 2 3
1 2 3 4

In [40]:
rows=int(input())
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [9]:
rows=4
for i in range(1,rows+1):
    for j in range(1,i+1):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *

1
2 3
4 5 6
7 8 9 10

In [11]:
rows=int(input())
k=1
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(k,end=" ")
        k=k+1
    print()

4
1
2 3
4 5 6
7 8 9 10

In [15]:
rows=int(input())   #4
k=1
for i in range(0,rows):   
    for j in range(0,i+1):
        print(k,end=" ")
        k=k+1
    print()

4
1
2 3
4 5 6
7 8 9 10

In [19]:
k=5
for i in range(1,6):
    for j in range(1,i+1):
        print(k,end=" ")
    k=k-1
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [65]:
k=5
i=1
while i<=5:
    j=1
    while j<=i:
        print(k,end=" ")
        j=j+1
    i=i+1
    k=k-1
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [63]:
for i in range(5,3,-1):
    for j in range(1,9):
        print(i,end=" ")
    print()

5 5 5 5 5 5 5 5
4 4 4 4 4 4 4 4

In [26]:
rows=int(input())
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()
    for k in range(1,rows+1):
        print("*",end=" ")
    print()

3
1
* * *
2 2
* * *
3 3 3
* * *

In [ ]:
rows=int(input())
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()
    for k in range(1,rows+1):
        print("*",end=" ")
    print()