# Operators in Python

Arithmetic Operators : +, -, , /, //, *, %
Relational Operators : >, <, ==, !=, >=, <=
Logical Operators : and, or, not
Bitwise Operators : &, |, ^, ~, >>, <<
Assignment Operators: =, +=, -=, =, /=, //=, %=, *=, &=, |=, ^=, >>=, <<=
Identity Operators: is, is not (Difference between Equal & Identical)
Membership Operators: in, not in

    ** Arithmetic operators follow the PEMDAS rule **

    Relational Operators : >, <, ==, !=, >=, <=    RETURN BOOL

In [2]:
a=12
b=14

In [5]:
print("When a>b the output \t\t",a>b)
print("When a<b the output is\t\t",a<b)
print("When a==b the output is\t\t",a==b)
print("When a!=b the output is\t\t",a!=b)
print("When a>=b the output is\t\t",a>=b)
print("When a<=b the output is\t\t",a<=b)

When a>b the output 		 False
When a<b the output is		 True
When a==b the output is		 False
When a!=b the output is		 True
When a>=b the output is		 False
When a<=b the output is		 True

# LOGICAL OPERATORS

Operator     SymbolName	           Narrative (Comparison between two conditions)

and      	Logical AND	            1.	Returns True if both operands are True   
                                    2.	Returns False if one of the operands is False
                                    
or	         Logical OR	            1.	Returns True if one of the operands is True
                                    2.	Returns False if both operands are False
                                    
not	         Logical NOT	        1.	Returns True if operand is False
                                    2.	Returns False if operand is True

if (condition):
    statement1
    statement2

if (condition):
    statement1
    statement2
else:
    statement3
    statement4

In [23]:
a=int(input())
b=int(input())
c=int(input())

if(a>b) and (a>c):
    print("A is largest")
if(b>a) and (b>c):
    print("B is largest")
if(c>a) and (c>b):
    print("C is largest")

12
24
36
C is largest

ORDER OF LOGICAL OPERATORS
1. not
2. and
3. or

In [24]:
a=False
b=True 
c=False

if a == True or b==True and not(c): 
    print("CSE")
else:
    print("ME")

CSE

In [26]:
a=False
b=True
c=False
#Condition with Multiple Logical Operators
if a == True and b==True or c==True:   # if (False or False)
    print("CovidChances")
else:
    print("NoCovidChances")

NoCovidChances

is operator is used to check whether both operands point to the same object or not. 
This is different from ==. 
In equal to operator, it is checked whether both operand have same value

In [8]:
#   10  - ----------- 816 a  b

a=320
b=320
print(id(a))
print(id(b))

1829186752560
1829186752656

In [18]:
list1 = [3,5,9,12]
list2 = [3,5,9,12]
# List 3 is assigned values of List1 (Note: Both will have same address)
list3 = list1
print(id(list1))
print(id(list2))
print(id(list3))

if list1 == list2:
    print("equal value")
else:
    print("not equal value")
    
if list1 == list3:
    print("have equal value")
else:
    print("have not equal value")

# Here checking of operands point to the same object or not 
if list1 is list2:
    print(" point to the same object")
else:
    print("not point to the same object ")

if list1 is list3:
    print("to the same object")
else:
    print("do not point to the same object ")

1673670513728
1673670866368
1673670513728
equal value
have equal value
not point to the same object
to the same object

in (membership operator)
This operator checks whether the given value is present in the sequence or not. 
It evaluates to True if it is present else False.

In [22]:
a=23
list1 = [23,67,4592,48,6455]
if a in list1:
    print("Condition True")
else:
    print("Condition False")

Condition True

In [23]:
a=232
list1 = [23,67,4592,48,6455]
if a in list1:
    print("Condition True")
else:
    print("Condition False")

Condition False

In [24]:
a=232
list1 = [23,67,4592,48,6455]
if a not in list1:
    print("Condition True")
else:
    print("Condition False")

Condition True

In [25]:
a=23
list1 = [23,67,4592,48,6455]
if a not in list1:
    print("Condition True")
else:
    print("Condition False")

Condition False

In [26]:
# Assignment Operators  #=

In [ ]:
=

==


a=10   # 'a' has been assigned  a value of 10
a==10  # is 'a' has value equal to 10

In [2]:
a=12
#a=a+33  
a+=33
print(a)

45

In [28]:
#Shorthand notations
a=12
a+=33
print(a)

45

In [29]:
a=12
a=a*33           #a*=33    a=a*33
print(a)

396

In [30]:
a=12
a*=33
print(a)

396

In [15]:
a=15
print(a>>3)

1