In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("salary_data.csv")

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   1.1       29 non-null     float64
 1   39343.00  29 non-null     float64
dtypes: float64(2)
memory usage: 596.0 bytes

In [22]:
df.describe()

             1.1       39343.00
count  29.000000      29.000000
mean    5.458621   77267.137931
std     2.772250   26995.157605
min     1.300000   37731.000000
25%     3.200000   56957.000000
50%     4.900000   66029.000000
75%     7.900000  101302.000000
max    10.500000  122391.000000