In [47]:
a=10
b=20
print(a,end="\t")
print(b)

10	20

In [6]:
a="vinay"
b=7.9
print(f"How r u doing {a} kukreja and today is {b} october")

How r u doing vinay kukreja and today is 7.9 october

In [9]:
a="vinay"
b=7
print("how r u doing {} kukreja and today is {} October".format(a,b))

how r u doing 7 kukreja and today is vinay October

In [45]:
a=10
b=12
print(f"a value is {a} \tb value is {b}")

a value is 10 	b value is 12

In [5]:
a=10
b=20
print("a value is = {} b value is ={}".format(a,b))

a value is = 10
b value is =20

In [10]:
a=10
b=20
print("a value is = {} \nb value is ={}".format(a,b))

a value is = 10
b value is =20

In [56]:
a=12.67
b=24
c="vinay"
print('%0.2f\n%d\n%s' %(a,b,c))

12.67
24
vinay

In [66]:
#Integer = %d
#Float = %f
#string = %s


a=12
b=24.23
print("%d != %0.1f" %(a, b))

12 != 24.2

In [29]:
a=12
b=24.23
print('%d != %0.2f' %(a, b))

12 != 24.23

In [28]:
a=12
b="vinay"
print('%d != %s' %(a, b))

12 != vinay

# Three methods are there
1. f
2. format
3. %d %f %s

In [34]:
a=input()
print(a)
print(type(a))

12
12
<class 'str'>

In [38]:
a=input("enter the number")
print(a)
print(type(a))
b=20
print(b)
print(type(b))
print(a+b)

enter the number12
12
<class 'str'>
20
<class 'int'>

TypeError: can only concatenate str (not "int") to str

In [40]:
a=int(input("enter the number"))
print(a)
print(type(a))
b=20
print(b)
print(type(b))

print(a+b)

enter the number12
12
<class 'int'>
20
<class 'int'>
32

In [41]:
a=int(input("enter the first number"))
b=int(input("enter the second number"))

print(a+b)

enter the first number34
enter the second number78
112

In [70]:
a=int(input("enter the first number"))
b=int(input("enter the second number"))
if a>b:
    print("A is greater")
else:
    print("B is greater")

print("You are right")

enter the first number12
enter the second number23
B is greater
You are right

23##